<div class="col-6" style="margin-top: 5px">
  <div *ngIf="isShow"
       class="alert {{ (isSuccess) ? 'alert-success' : 'alert-danger' }}"
       role="alert">
    {{message}}
  </div>
</div>
<div class="col-md-12">
  <div class="row">
    <div class="empty-playlist" data-toggle="modal" data-target="#exampleModal">
      <i role="button" class="fas fa-plus"></i>
      Tạo playlist mới
    </div>
    <div class="no-line-height col-md-3 col-xs-4 mar-bottom-20" *ngFor="let playlist of listPlayList, index as i">
      <div class="col-album z-size-180 ">
        <div class="card-180 --z--reset-height">
          <a title="{{playlist.name}}" routerLink='{{playlist.id}}'>
            <div class="image lazyload-img loaded">
              <img [src]="playlist.image" >
            </div><div class="opac">
          </div>
          </a>
          <div class="player-actions">
            <ul>
              <a routerLink="{{playlist.id}}" style="z-index: 10; width: 210px; height: 210px; left: 0px; position: absolute; top: 0px;">
              </a>
            </ul>
          </div>
        </div>
        <div class="card-info ">
          <div class="title">
            <a title="" routerLink="{{playlist.id}}">{{playlist.name}}</a>
          </div>
          <div class="artist">
          </div>
          <div class="artist" style="line-height: normal;">
            <span style="color: rgb(160, 160, 160); font-size: 12px;">Tạo bởi {{username}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Tạo playlist mới</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" [formGroup]="playlistForm">
        <input type="text" class="form-control" formControlName="name" placeholder="Nhập tên playlist">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal" (click)="creatPlaylist()">Lưu</button>
      </div>
    </div>
  </div>
</div>
