<div style="margin-top: 5px">
  <div class="container-fluid">
   <div class="row">
     <nav class="col-md-2 d-none d-md-block sidebar">
       <div class="sidebar-sticky">
         <ul class="menuBar navbar-nav mr-auto" >
           <li class="nav-item">
             <a class="nav-link" routerLink="/mymusic/">
               Thư viện
             </a>
           </li>
           <li class="nav-item">
             <a class="nav-link" routerLink="songs">
               Bài hát
             </a>
           </li>
           <li class="nav-item">
             <a class="nav-link" routerLink="playlist">
               Playlist
             </a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="#">
               Album
             </a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="#">
               Nghệ sĩ
             </a>
           </li>
           <li class="nav-item">
             <a class="nav-link" routerLink="upload">
               Tải lên
             </a>
           </li>
         </ul>
       </div>
     </nav>
     <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
       <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
         <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
         </div>
         <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
         </div>
       </div>
       <router-outlet></router-outlet>
       <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div></main>
   </div>

 </div>

<!--  <div class="navbar  navbar-expand-lg navbar-dark bg-dark">-->
<!--    <ul class="menuBar navbar-nav mr-auto">-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="#">-->
<!--          Thư viện-->
<!--        </a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" routerLink="songs">-->
<!--          Bài hát-->
<!--        </a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="#">-->
<!--          Playlist-->
<!--        </a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="#">-->
<!--          Album-->
<!--        </a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="#">-->
<!--          Nghệ sĩ-->
<!--        </a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" routerLink="upload">-->
<!--          Tải lên-->
<!--        </a>-->
<!--    </ul>-->
<!--  </div>-->
</div>


