<div style="margin-top: 5px">
  <div class="navbar  navbar-expand-lg navbar-dark bg-dark">
    <ul class="menuBar navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">
          Thư viện
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="songs">
          Bài hát
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          Playlist
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          Album
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          Nghệ sĩ
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="upload">
          Tải lên
        </a>
    </ul>
  </div>
  <router-outlet></router-outlet>
</div>


