<h3 (click)="showSongs()"> Bài hát ></h3>
<table class="table table-dark">
  <thead class="">
  <tr>
    <th scope="col">Tên bài hát</th>
    <th scope="col">Ảnh</th>
    <th scope="col">Nhạc</th>
  </tr>
  </thead>
  <tbody class="table-hover" *ngFor="let song of songList, index as i">
  <tr *ngIf="i<3">
    <td>
      {{song.name}}
    </td>
    <td>
      <img [src]="song.image" style="width: 100px" height="100px">
    </td>
    <td >
      <audio controls [src]="song.fileMp3" ></audio>
    </td>
  </tr>
  <button *ngIf="i>2" (click)="showSongs()">Xem tất cả</button>
  </tbody>

</table>

<h3>Ca sĩ</h3>

<h3>Playlist ></h3>
<div class="col-md-12">
  <div class="row">
    <div class="no-line-height col-md-3 col-xs-4 mar-bottom-20" *ngFor="let playlist of playlistList, index as i">
      <div class="col-album z-size-180 ">
        <div class="card-180 --z--reset-height">
          <a title="{{playlist.name}}" routerLink='{{playlist.id}}'>
            <div class="image lazyload-img loaded">
              <img [src]="playlist.image" >
            </div><div class="opac">
          </div>
          </a>
          <div class="player-actions">
            <ul>
              <a routerLink="{{playlist.id}}" style="z-index: 10; width: 210px; height: 210px; left: 0px; position: absolute; top: 0px;">
              </a>
            </ul>
          </div>
        </div>
        <div class="card-info ">
          <div class="title">
            <a title="" routerLink="{{playlist.id}}">{{playlist.name}}</a>
          </div>
          <div class="artist">
          </div>
          <div class="artist" style="line-height: normal;">
            <span style="color: rgb(160, 160, 160); font-size: 12px;">Tạo bởi {{playlist.user.username}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
