<!--<nav class="navbar justify-content-center">-->
<!--  <a href=""><img src="https://i.pinimg.com/236x/54/00/da/5400da31bbbbe463628d6a727ae69b23.jpg" class="navbar-brand"-->
<!--                  height="64" width="42"></a>-->
<!--  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"-->
<!--          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--    <span class="navbar-toggler-icon"></span>-->
<!--  </button>-->
<!--  <form class="form-inline my-2 my-lg-8">-->
<!--    <input class="form-control mr-sm-2" type="search" placeholder="Tìm kiếm bài hát" aria-label="Search">-->
<!--    <span class="glyphicon glyphicon-search" ></span>-->
<!--  </form>-->
<!--</nav>-->
<!--<nav class="navbar navbar-expand-lg navbar-light bg-white">-->


<!--  <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--    <ul class="navbar-nav mr-auto">-->
<!--      <li class="nav-item active">-->
<!--        <a class="nav-link" href="#">Trang chủ <span class="sr-only">(current)</span></a>-->
<!--      </li>-->
<!--      <li class="nav-item dropdown">-->
<!--        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"-->
<!--           aria-haspopup="true" aria-expanded="false">-->
<!--          Bài hát-->
<!--        </a>-->
<!--        <div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--          <a class="dropdown-item" href="#">Việt Nam</a>-->
<!--          <a class="dropdown-item" href="#">Âu Mỹ</a>-->
<!--          <a class="dropdown-item" href="#">Châu Á</a>-->
<!--        </div>-->
<!--      </li>-->
<!--      <li class="nav-item active">-->
<!--        <a class="nav-link" href="">Playlist</a>-->
<!--      </li>-->
<!--      <li class="nav-item active">-->
<!--        <a class="nav-link" routerLink="/mymusic">Nhạc cá nhân</a>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->
<!--</nav>-->

<div class="search">
  <div class="row col-12 ">

    <div class="row col-2">
      <a routerLink="/"><img src="https://i.pinimg.com/236x/54/00/da/5400da31bbbbe463628d6a727ae69b23.jpg"
                             class="navbar-brand" height="50" width="65"></a>
    </div>

    <div class="row col-6 justify-content-center">
      <form [formGroup]="formGroup" (ngSubmit)="search()">
        <div class="input-group col-md-12" style="text-align: center">

          <input type="text" class="search-query form-control" placeholder="Tìm kiếm theo tên bài hát"
                 formControlName="searchName" style="width: 400px">
          <span class="input-group-btn">
                        <button class="btn btn-danger" type="submit" style="width: 50px">
                                <i class="fas fa-search"></i>
                        </button>
          </span>
        </div>
        <br>
      </form>
    </div>
    <div class="row col-4">
      <a class="nav-link dropdown-toggle" href="#" style="color: black" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-user"></i>
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" routerLink="/login">Đăng nhập</a>
        <a class="dropdown-item" routerLink="/register">Đăng kí</a>
      </div>
    </div>
  </div>
</div>

<div class="navbar-main">
  <nav class="navbar  navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="menuBar navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">TRANG CHỦ <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">#CHART </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">MỚI PHÁT HÀNH </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">TOP 100</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">NGHỆ SĨ </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/mymusic">NHẠC CÁ NHÂN</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>
