<div class="container mt-5">
    <div class="d-flex justify-content-between align-ítems-center mb-2 pl-2 pr-1">
        <a class="nav-items" routerLink="/new-song">
            <h3>{{ carousel_title }}</h3>
        </a>
        <div>
            <button class="slick-btn mr-2" (click)="slickModal.slickPrev()"><i class="fa fa-chevron-left"></i></button>
            <button class="slick-btn ml-2" (click)="slickModal.slickNext()"><i class="fa fa-chevron-right"></i></button>
        </div>
    </div>
    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let song of songs; index as i" class="slide d-flex justify-content-around">
            <div class="card" style="width: 12rem;" (click)="playMusic(song)">
                <img [src]="song.image" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ song.name }}</h5>
                    <p class="card-text">{{ song.initTime | customDate }}</p>
                </div>
            </div>
        </div>
    </ngx-slick-carousel>
</div>