<h1> Bài hát </h1>
<table class="table table-dark">
  <thead class="">

  <tr>
    <th scope="col">ID</th>
    <th scope="col">Tên bài hát</th>
    <th scope="col">Mô tả</th>
    <th scope="col">Ảnh</th>
    <th scope="col">Nhạc</th>
    <th scope="col">Chỉnh sửa</th>
    <th scope="row">Xóa</th>
  </tr>
  </thead>
  <tbody class="table-hover" *ngFor="let song of songList, index as i">
    <tr>
      <td>{{i+1}}</td>
      <td>
        {{song.name}}
      </td>
      <td>
        {{song.descriptionSong}}
      </td>
      <td>
        <img [src]="song.image" style="width: 100px" height="100px">
      </td>
      <td >
        <audio controls [src]="song.fileMp3" ></audio>
      </td>
      <td>
        <button type="button" class="btn btn-warning btn-sm" routerLink='edit/{{song.id}}'>Sửa</button>
      </td>
      <td>
        <button type="button" class="btn btn-danger btn-sm" (click)="deleteSong(i)">Xoá</button>
      </td>
    </tr>
  </tbody>
</table>

