<div class="row">
  <h1 routerLink="songs"> Bài hát ></h1>
  <tbody class="table-hover" *ngFor="let song of songList, index as i">
  <div class = "col-sm-12 poly-prod" *ngIf="i < 3">
    <div class = "panel panel-default">
      <div class = "panel-body" >
        <img [src]="song.image" style="width: 100px" height="100px">
        <div class = "panel-footer">
          <div>{{song.name}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class = "col-sm-12 poly-prod" *ngIf="songList.length>2" routerLink="songs">
    Xem tất cả
  </div>
  </tbody>

</div>
<div class="row">
  <h1> Playlist ></h1>

</div>




