
<!--<div id="submenu" class="sub-menu-header new_header">-->
<!--  <div class="wrap">-->
<!--      <div class="content-wrap">-->
<!--        &lt;!&ndash;A Begin sub-menu-top&ndash;&gt;-->
<!--        <div class="menu-top">-->
<!--          <ul class="notifi new_header" id="menuTop">-->
<!--            <li class="icon_logo_menu" id="icon_menu_logo">-->
<!--              <a class="logo new_header active" title="" alt="" href=""></a>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </div>-->
<!--        &lt;!&ndash;End sub-menu-top&ndash;&gt;-->
<!--      </div>-->
<!--  </div>-->
<!--</div>-->

<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <a href=""><img src="https://i.pinimg.com/236x/54/00/da/5400da31bbbbe463628d6a727ae69b23.jpg" class="navbar-brand" height="64" width="42"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Trang chủ <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Bài hát
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Việt Nam</a>
          <a class="dropdown-item" href="#">Âu Mỹ</a>
          <a class="dropdown-item" href="#">Châu Á</a>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="" >Playlist</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Tìm kiếm bài hát" aria-label="Search">
      <span class="glyphicon glyphicon-search" ></span>
    </form>
  </div>
</nav>
<div class = "row">
  <article class="col-sm-9">
    <div class = "col-sm-4 poly-prod">
      <div class = "panel panel-default">
        <div class = "panel-body">
          <a routerLink="/song">
            <img src="../../../assets/logo.jpg" height="152" width="152"/>
          </a>
        </div>
        <div class = "panel-footer" >
          <a routerLink="/song">Chân ái</a>
        </div>
      </div>
    </div>
  </article>
  <aside class="col-sm-3" id="box_chart_music">
    <div>
      <h3>BXH BÀI HÁT</h3>
    </div>
    <div>
      <a>Việt Nam</a>
    </div>
    <div class="list_chart_music">
      <ul>
        <li>
          <div class="info_data">
            <a routerLink="/song">
              <span class="number special-1">1</span>
              <img src="../../../assets/logo.jpg" height="152" width="152"/>
            </a>
            <h3>Chân Ái</h3>
          </div>
        </li>

        <li>

          <div class="info_data">
            <span class="number special-2">2</span>
            <h3>Anh Thanh Niên</h3>
          </div>
        </li>
      </ul>
    </div>
  </aside>
</div>
